<html>
    <head>
        <title>Client: Client Credentials Flow</title>
        <link rel="stylesheet" href="/public/style.css"/>

        <script>
            function authorize() {
                window.location.href = '/clientcredflow?scope=read+write';
            }
        </script>

        </head>
    <body>
        <h1>Client: Client Credentials Flow</h1>

        <form method="POST" action="/clientcredflow">
            <input type="hidden" name="csrfToken" value="{{ csrfToken }}"/>
            <input type="hidden" name="scope" value="read write"/>

            <p><button type="submit">Authorize</button></p>
        </form>

        <p><a href="/">Home</a></p>
    </body>
</html>
