<html>
    <head>
        <title>Error</title>
        <link rel="stylesheet" href="/public/style.css"/>
        </head>
    <body>
        <h1>There has been an error</h1>
        <p>
            {{ errorMessage }}
        </p>
    </body>
</html>
