<html>
    <head>
        <title>Client: Password Flow</title>
        <link rel="stylesheet" href="/public/style.css"/>

        <script>
            function authorize() {
                window.location.href = '/passwordflow?scope=read+write';
            }
            function callResource() {
                fetch("/resource")
                .then(function(response) {return response.json()}).then(function(response) {
                    document.getElementById("result").innerHTML = "<pre>"+JSON.stringify(response)+"</pre>"
                })
                .catch(function(error) {
                    document.getElementById("result").text = error;
                })
            }
        </script>

        </head>
    <body>
        <h1>Client: Password Flow</h1>

        <form method="GET" action="/passwordflow">
            <input type="hidden" name="scope" value="read write"/>

            <p><button type="submit">Authorize</button></p>
        </form>

        <p><a href="/">Home</a></p>
    </body>
</html>
