<html>
    <head>
        <title>Password Flow Login</title>
        <link rel="stylesheet" href="/public/style.css"/>
    </head>
    <body>
        <h1>Password Flow Login</h1>
        <form method="POST" action="/passwordflow">
            <input type="hidden" name="csrfToken" value="{{ csrfToken }}"/>
            <input type="hidden" name="scope" value="{{ scope }}"/>
            {% if errorMessage %}
                <p class="error">
                {% if errorCodeName == "UsernameOrPasswordInvalid"%}
                    Invalid username or password
                {% else %}
                    {{ errorMessage }}
                {% endif %}
                </p>
            {% endif %}
            <p>
                <label for="username">Username</label><br>
                <input type="text" name="username" size="20" value="{{ username }}"/>
            </p>
            <p>
                <label for="password">Password</label><br>
                <input type="password" name="password" size="20" />
            </p>
            <p><button type="submit">Log In</button></p>

        </form>

        <p><a href="/">Home</a></p>
    </body>
</html>
