**/db.sqlite3
**/__pycache__
**/.DS_Store
**/*.tgz
**/*.tar
**/*-tar.gz
**/.vagrant
**/*.log
**/*.pyc
**/*.class
**/*.jar
**/*.crt
**/*.csr
**/*.key
**/*.pub
**/*.ipynb
**/venv
**/config.env
**/.env
**/node_modules
**/~*.xlsx
**/*.pyi
docs/crossauth_backend*.rst
docs/_build
src/pycrossauth.egg-info/
dist

