{
    "state": "{{state}}",
    "grant_type": "{{grant_type}}",
    "client_secret": "{{client_secret}}",
    "device_code": "{{device_code}}",
    "user_code": "{{user_code}}",
    "verification_uri": "{{verification_uri}}",
    "verification_uri_complete": "{{verification_uri_complete}}",
    "error": "{{error}}",
    "error_description": "{{error_description}}"
}
